{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="{% static 'lib/adminlte_v3.1/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Punto de Venta</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image w-25">
            <img src="{{request.user.get_image}}" class="img-circle elevation-2 rounded-circle h-75 w-100  m-0" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block font-weight-bold">{{request.user.username|capfirst}}</a>
                <p class="mb-0 text-info">{{request.user.rol|capfirst}}</p>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                {% if  request.user.rol == 'administrador' %}
                <li class="nav-item">
                    <a href="{% url 'users_list' %}" class="nav-link">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <p>Usuarios</p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="{% url 'clients_list' %}" class="nav-link">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <p>Clientes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-boxes"></i>
                        <p>Productos
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'products_list' %}" class="nav-link">
                                <p>Lista de productos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'marcas' %}" class="nav-link">
                                <p>Marcas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'departments' %}" class="nav-link">
                                <p>Departamentos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'units_list' %}" class="nav-link">
                                <p>Unidades de medida</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-cash-register"></i>
                        <p>Cajas
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'cashier_cat_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Catálogo de cajas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'movements_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Movimiento de cajas</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'status_negocio' %}" class="nav-link">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        <p>Información de negocio</p>
                    </a>
                </li>
                {% endif %}
                
                
                
                {% if  request.user.rol == "vendedor" %}
                {% if request.user.get_movimiento_caja == None %}
                <li class="nav-item">
                    <a href="{% url 'open_cashier' %}" class="nav-link">
                
                        <p>
                            <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                            Abrir Caja
                        </p>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'open_cashier' %}" class="nav-link">
                
                        <p>
                            <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                            Cerrar Caja
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'pantalla_venta' %}" class="nav-link">
                        <p>
                            <i class="fa-solid fa-cash-register"></i>
                            Pantalla de Venta
                        </p>
                    </a>
                </li>
                
                {% endif %}
                
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'reporte_ventas' %}" class="nav-link">
                        <p>
                            <i class="fas fa-chart-pie    "></i>
                            Reportes de ventas
                        </p>
                    </a>
                </li>
                
                
                
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
<!-- /.sidebar -->
</aside>